{% load staticfiles %}

<li class="scent list-group-item">
<div class="row">
<div class="col-xs-12">
    This is sample scent. This is sample scent. This is sample scent. This is sample scent. This is sample scent. This is sample scent...
</div>
</div>
<div class="row">
	<div class="col-xs-6"><img src="{% static 'img/fence_sm.png' %}" width="15">&nbsp;<small><a href="#">Emerson Hall</a></small></div>
	<div class="col-xs-6 text-right"><span class="glyphicon glyphicon-user"></span>&nbsp;<small><a href="#">DenXX</a></small></div>
</div>
</li>