
html,
body {
  height: 100%;
  min-height: 100%;
  padding-bottom: 50px;
  /* The html and body elements cannot have any padding or margin. */
}

#map-canvas {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0px;
  right: 400px;
  padding: 0px;
  margin: 0px;
}

#scent-canvas {
  position:absolute;
  top: 50px;
  bottom: 0px;
  right:0px;
  width: 400px;
  padding: 10px;
  margin: 0px;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
  overflow: auto;
}

#drop-scent-panel {
  position: absolute;
  height: 131px;
  width: 380px;
  top: 10px;
}

#scent-list {
  position: absolute;
  top: 150px;
  width: 380px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
