#map-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
	margin-right: 405px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #f5f5f5;
}

#wrap > #map_ctrl {
  padding: 50px 0px 0;
}

.container{
  width:100%;
  height: 100%;
  margin-left: 0px;
  padding: 0px;
}

.row{
  height: 100%;
}

#map_ctrl{
  min-height: 100%;
  height: 100%;
  width:100%;
  margin-left: 0px;
}

#messagecontainer{
  width:390px;
  height: 100% - 50px;
  overflow: auto;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
